* {
  background-image: none;
  font-family: "JetBrains Mono Nerd Font";
}

@import "../waybar/macchiato.css";

window {
  /*background-color: transparent;*/
  background-color: rgba(24, 25, 38, 0.7);
}

button {
  color: @text;
  background-color: @base;
  outline-style: none;
  border: none;
  border-width: 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20%;
  border-radius: 0px;
  box-shadow: none;
  text-shadow: none;
  animation: gradient_f 20s ease-in infinite;
}

button:focus {
  background-color: @surface0;
  background-size: 30%;
}

button:hover {
  background-color: @surface2;
  background-size: 40%;
  border-radius: 20px;
  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover#lock {
  border-radius: 20px;
  margin: 10px 0px 10px 20px;
}

button:hover#logout {
  border-radius: 20px;
  margin: 10px 0px 10px 0px;
}

button:hover#suspend {
  border-radius: 20px;
  margin: 10px 0px 10px 0px;
}

button:hover#shutdown {
  border-radius: 20px;
  margin: 10px 0px 10px 0px;
}

button:hover#hibernate {
  border-radius: 20px;
  margin: 10px 0px 10px 0px;
}

button:hover#reboot {
  border-radius: 20px;
  margin: 10px 20px 10px 0px;
}

#lock {
  background-image: image(url("./icons/lock_white.png"));
  border-radius: 10px 0px 0px 10px;
  margin: 50px 0px 50px 50px;
}

#logout {
  background-image: image(url("./icons/logout_white.png"));
  border-radius: 0px 0px 0px 0px;
  margin: 50px 0px 50px 0px;
}

#suspend {
  background-image: image(url("./icons/suspend_white.png"));
  border-radius: 0px 0px 0px 0px;
  margin: 50px 0px 50px 0px;
}

#shutdown {
  background-image: image(url("./icons/shutdown_white.png"));
  border-radius: 0px 0px 0px 0px;
  margin: 50px 0px 50px 0px;
}

#hibernate {
  background-image: image(url("./icons/hibernate_white.png"));
  border-radius: 0px 0px 0px 0px;
  margin: 50px 0px 50px 0px;
}

#reboot {
  background-image: image(url("./icons/reboot_white.png"));
  border-radius: 0px 10px 10px 0px;
  margin: 50px 50px 50px 0px;
}
